@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --boxbg1: #dddddd,
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Figtree", sans-serif;
}



.box {
  max-width: 1720px;
  margin: 0 auto;
  background-color: rgba(87, 228, 197, 0.26);
}


.rbc-calendar {
  font-family: 'Outfit', sans-serif;
}
.rbc-header {
  padding: 8px;
  font-weight: 500;
  color: #4a4c56;
}
.rbc-toolbar button {
  color: #4a4c56;
  border: 1px solid #cfd4dc;
}
.rbc-toolbar button:hover {
  background-color: #f8f9fb;
  color: #006198;
}
.rbc-toolbar button.rbc-active {
  background-color: #006198;
  color: white;
}
.rbc-today {
  background-color: #f2f7fa;
}
.rbc-event {
  background-color: #006198;
}
.rbc-event.rbc-selected {
  background-color: #004d7a;
}
.rbc-toolbar {
  margin-bottom: 20px;
}